# SSH Configuration
SSH_USERNAME=your_username
SSH_AUTH_SOCK=/var/run/com.apple.launchd.xxx/Listeners
# SSH_PRIVATE_KEY_PATH=~/.ssh/id_rsa
# SSH_PASSPHRASE=your_passphrase
# SSH_PASSWORD=your_password

# Zabbix Configuration
ZABBIX_URL=https://zabbix.sophosapps.com
ZABBIX_API_TOKEN=your_zabbix_api_token

# Atlassian Configuration
ATLASSIAN_HOST=https://sophos.atlassian.net
ATLASSIAN_EMAIL=your.email@sophos.com
ATLASSIAN_API_TOKEN=your_atlassian_api_token
